{% extends 'index.html' %} {% block content %}
<center>
    <p><b>Table</b></p>

    <div class='table-bordered' style='overflow: auto; color:white; height: 300px; width: 100%; margin:0 auto'>
        <table>
            <th>
                <td>Suburb</td>
                <td>Address</td>
                <td>Rooms</td>
                <td>Type</td>
                <td>Price</td>
                <td>Method</td>
                <td>SellerG</td>
                <td>Date</td>
                <td>Distance</td>
                <td>Postcode</td>
                <td>Bathroom</td>
                <td>Car</td>
                <td>Landsize</td>
                <td>BuildingArea</td>
                <td>YearBuilt</td>
                <td>CouncilArea</td>
                <td>Lattitude</td>
                <td>Longtitude</td>
                <td>Regionname</td>
                <td>PropertyCount</td>
                

            </th>
            {% for item in data %}
            <tr>
                <td>*</td>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
                <td>{{item[8]}}</td>
                <td>{{item[9]}}</td>
                <td>{{item[10]}}</td>
                <td>{{item[11]}}</td>
                <td>{{item[12]}}</td>
                <td>{{item[13]}}</td>
                <td>{{item[14]}}</td>
                <td>{{item[15]}}</td>
                <td>{{item[16]}}</td>
                <td>{{item[17]}}</td>
                <td>{{item[18]}}</td>
                <td>{{item[19]}}</td>
                <td>{{item[20]}}</td>
                <td>{{item[21]}}</td>
                <td>{{item[22]}}</td>

            </tr>
            {% endfor %}
        </table>
    </div>

    <form method="POST" action="http://localhost:5000/pred_result" style="color:white;">
        <br>
        <p style="color:white;"><b>Melbourne House Prediction</b></p>
        <div class="input-group mb-3" style="width: 500px; color:white;">
            <span class="input-group-text" style="width: 125px">Type:</span>
            <select name="Type" style="width: 250px" class="form-control" required="required">
            <option value="h">House</option>
            <option value="u">Unit</option>
            <option value="t">Townhouse</option>
            <option disabled selected hidden>Property Type?</option>
        </select>
        </div>
        <div class="row" style="width: 500px">
            <div class="col-md-6" style="width: 250px">
                <label for="Suburb">Suburb:</label>
                <input type="text" name="Suburb" step="0.01" min="1" max="1000" style="width: 250px" id="bill" class="form-control" required=True/>
            </div>
        </div>

        <div class="row" style="width: 500px">
            <div class="col-md-6" style="width: 250px">
                <label for="Rooms">Bedroom:</label>
                <input type="number" name="Rooms" step="0.01" min="1" max="1000" style="width: 250px" id="bill" class="form-control" required=True/>
            </div>
        </div>
        <div class="row" style="width: 500px">
            <div class="col-md-6" style="width: 250px">
                <label for="Bathroom">Bathroom:</label>
                <input type="number" name="Bathroom" step="0.01" min="1" max="1000" style="width: 250px" id="bill" class="form-control" required=True/>
            </div>
        </div>
        <div class="row" style="width: 500px">
            <div class="col-md-6" style="width: 250px">
                <label for="Landsize">Landsize:</label>
                <input type="number" name="Landsize" step="0.01" min="1" max="10000" style="width: 250px" id="bill" class="form-control" required=True/>
            </div>
        </div>
        
        <div class="row" style="width: 500px">
            <div class="col-md-6" style="width: 250px">
                <label for="BuildingArea">Building Area:</label>
                <input type="number" name="BuildingArea" step="0.01" min="1" max="10000" style="width: 250px" id="bill" class="form-control" required=True/>
            </div>
        </div>
        <br>
        <button type="submit" style="background-color: rgb(4,122,133); color: whitesmoke" class="btn btn-info">Predict</button>
    </form>
    <br>
</center>

{% endblock %}